iframe{
    width: 1150px;
    display: block;
    margin: auto;
    border: black groove thick;
}

footer{
   
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 1rem;
    

}

nav{
    text-align: center;
}


h3{
    color: goldenrod;
    
    text-align: center;
}

label{
    display: inline-block;
    width: 10rem;
}



